@using Hk.Core.Entity.OrganSet;
@using Hk.Core.Util;
@using Hk.Core.Util.Extentions
@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (PBDM_ORGAN)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            <tr>
<th>HKPEIS.PBDM_ORGAN.OGRAN_SERIAL_KEY</th>
<td>
   <input name="OGRAN_SERIAL_KEY" value="@obj.OGRAN_SERIAL_KEY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.ORGAN_CODE</th>
<td>
   <input name="ORGAN_CODE" value="@obj.ORGAN_CODE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.ORGAN_NAME</th>
<td>
   <input name="ORGAN_NAME" value="@obj.ORGAN_NAME" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.ORGAN_LEVEL</th>
<td>
   <input name="ORGAN_LEVEL" value="@obj.ORGAN_LEVEL" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.ORGAN_TYPE</th>
<td>
   <input name="ORGAN_TYPE" value="@obj.ORGAN_TYPE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.PROVINCE</th>
<td>
   <input name="PROVINCE" value="@obj.PROVINCE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.CITY</th>
<td>
   <input name="CITY" value="@obj.CITY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.COUNTY</th>
<td>
   <input name="COUNTY" value="@obj.COUNTY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.ADDRESS</th>
<td>
   <input name="ADDRESS" value="@obj.ADDRESS" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.ZIP_CODE</th>
<td>
   <input name="ZIP_CODE" value="@obj.ZIP_CODE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.PHONE</th>
<td>
   <input name="PHONE" value="@obj.PHONE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.WEBSITE</th>
<td>
   <input name="WEBSITE" value="@obj.WEBSITE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.EMAIL</th>
<td>
   <input name="EMAIL" value="@obj.EMAIL" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.GAIN_SIGN</th>
<td>
   <input name="GAIN_SIGN" value="@obj.GAIN_SIGN" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.LOGO_PATH</th>
<td>
   <input name="LOGO_PATH" value="@obj.LOGO_PATH" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.ACTIVE</th>
<td>
   <input name="ACTIVE" value="@obj.ACTIVE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.TRX_DATE</th>
<td>
   <input name="TRX_DATE" value="@obj.TRX_DATE" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.TRX_USER_KEY</th>
<td>
   <input name="TRX_USER_KEY" value="@obj.TRX_USER_KEY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.TRX_USER_SERIAL_KEY</th>
<td>
   <input name="TRX_USER_SERIAL_KEY" value="@obj.TRX_USER_SERIAL_KEY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.ORGAN_SUB_NAME</th>
<td>
   <input name="ORGAN_SUB_NAME" value="@obj.ORGAN_SUB_NAME" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.ORGAN_EN_NAME</th>
<td>
   <input name="ORGAN_EN_NAME" value="@obj.ORGAN_EN_NAME" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
<th>HKPEIS.PBDM_ORGAN.PUBLIC_TRANS</th>
<td>
   <input name="PUBLIC_TRANS" value="@obj.PUBLIC_TRANS" class="easyui-textbox" data-options="width:'200px',required:true">
</td>
</tr>
<tr>
<th>HKPEIS.PBDM_ORGAN.SUMMARY</th>
<td>
   <input name="SUMMARY" value="@obj.SUMMARY" class="easyui-textbox" data-options="width:'200px',required:true">
</td>

        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'OrganSet/PBDM_ORGAN/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
